/* CSS declarations go here */
.controller {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}

.motorGauges div {
  /*border: 1px solid #ccc;*/
  width: 40px;
  height: 100px;
  position: relative;
  display:  inline-block;
  margin: 5px 10px 0 1px;
}


/* jQuery Slider */
.ui-slider {
  position: relative;
  border: 1px solid #CCC;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  border: 0;
}
.ui-widget-header {
  border: 1px solid #aaa;
  background: rgba(255, 100, 100, .5);
}